<h4 class="titulo">Formularios <small>template</small></h4>
<hr>
<form  (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div class="erDiv">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="5"
               required
               #nombre="ngModel">

          <div *ngIf="nombre.errors?.required">
            Este campo es requerido
          </div>     
          <div *ngIf="nombre.errors?.minlength">
            Minimo {{ nombre.errors.minlength.requiredLength }} caracteres
          </div>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               minlength="3"
               required
               #apellido="ngModel">

  <div *ngIf="apellido.errors?.required">
  Este campo es requerido
  </div>     
  <div *ngIf="apellido.errors?.minlength">
  Minimo {{ apellido.errors.minlength.requiredLength }} caracteres
  </div>
      </div>
    </div>
    <br>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Email</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="usuario.correo"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             #email="ngModel">

             <div *ngIf="email.errors?.required">
               Este campo es requerido
             </div>
             <div *ngIf="email.errors?.pattern">
              No cumple con el formato correo 
              <br>
              "ejemplo: asdas@abc.com"
             </div>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
      <select [(ngModel)]="usuario.pais"
      name="pais" 
      class="form-select">
        <option value="">Seleccione un pais</option>
        <option *ngFor="let pais of paises"
        [value]="pais.codigo">{{ pais.nombrePais }}</option>
      </select>
    </div>
  </div>  
  <br>

  <div  *ngFor="let s of sexos"
        class="form-check form-check-inline">
    <input [(ngModel)]="usuario.sexo"
           name="sexo" 
           [value]="s" 
           class="form-check-input"
           type="radio" 
           name="flexRadioDefault">
    <label class="form-check-label" for="flexRadioDefault1">
      {{ s }}
    </label>
  </div>
<!--   <div class="form-check">
    <input [(ngModel)]="usuario.sexo"
           name="sexo"
           value="Hombre" 
           class="form-check-input" 
           type="radio" name="flexRadioDefault" 
           >
    <label class="form-check-label" for="flexRadioDefault2">
      Hombre
    </label>
  </div> -->
<hr>
  <div class="form-check" >
    <input [(ngModel)]="usuario.aceptar"
           name="aceptar" 
           class="form-check-input"
           type="checkbox" 
           value="" 
           required>
    <label class="form-check-label" for="flexCheckDefault">
      Acepto los Términos y condiciones
    </label>
  </div>
<hr>

  <div class="form-group row">

    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      
      <button [disabled]="!forma.valid"
              type="submit" 
              id="b"
              class="btn btn-outline-success">
        Guardar
      </button>
    </div>

  </div>

</form>


<pre>

  {{ usuario | json }}

</pre>
